
body
	{
 	    background-image: url(img/fondo1.JPG);
	     background-size:100%;
	    
	}



h1	 {
	   color:blue;
   
	}
img 	{
	radio de borde :50%;
	}

p {
font-size:25px;
font-style:italic;
font-family: 'Kaushan Script', cursive;
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
aligh : right
}

table,th,td
	{
	  border:1px solid black;
	  border-collapse:collapse;
	  padding: 5px;}
td
	{ 
	font-family:verdana;
	}
th 
	{
	font-family:arial;
        font-family:18px;
	letter-spacing:1px;
	}

thead{
     background-color: #0079b4;
     border-bottom:solid 5px;
     }
tr:nth-child(even)	
	{
	background-color: #e6f6ff;
	}

